<%= render_form_for(knowledge_base, class: "w-full pt-4 pr-8") do |form| %>
  <div class="grid grid-cols-3 items-baseline mb-4">
    <%= form.label :name, class: "text-right mr-4 text-lg" %>
    <%= form.text_field :name, required: true, class: "col-span-2" %>
  </div>
  <div class="grid grid-cols-3 items-baseline">
    <%= form.label :description, class: "text-right mr-4 text-lg" %>
    <%= form.text_area :description, class: "col-span-2 mb-8", rows: 4 %>
  </div>
  <div class="flex justify-center">
    <% if knowledge_base.persisted? %>
      <%= form.submit "更新知识库", class: "mr-2" %>
    <% else %>
      <%= form.submit "创建知识库", class: "mr-2" %>
    <% end %>
  </div>
<% end %> 