<%= render_form_for(assistant || Assistant.new, class: "w-full") do |form| %>
  <div class="grid grid-cols-3 items-baseline mb-4">
    <%= form.label :title, class: "text-right mr-4 text-lg" %>
    <%= form.text_field :title, required: true, class: "col-span-2" %>
  </div>
  <div class="grid grid-cols-3 items-baseline">
    <%= form.label :instructions, class: "text-right mr-4 text-lg" %>
    <%= form.text_area :instructions, required: true, class: "col-span-2 mb-8" %>
  </div>
  <div class="flex justify-center">
    <% if assistant&.persisted? %>
      <%= form.submit "更新助手", method: :patch %>
    <% else %>
      <%= form.submit "创建助手" %>
    <% end %>
  </div>
<% end %>
